* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
 background-size : cover;
 background-repeat:no repeat;
  color: #e1e1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Outfit", sans-serif;
  padding-top: 4rem;
  padding-bottom: 2rem;

}

.video-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  background: #000; /* Warna latar belakang hitam */
}

.video-background video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  text-align:center;
  font-weight:bold;
}

#typing {
  font-size:1.5rem;
  font-weight:bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  top:1.5rem;

}
.bg-text-animation {
  position: absolute;
  top: 1rem;
  font-size: 12rem;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-text-stroke: 2px #ffff;
  -webkit-text-fill-color: transparent;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  z-index: -1;
  user-select: none;
}
.bg2-text-animation {
  position: absolute;
  top: 1rem;
  font-size: 12rem;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-text-stroke: 2px #ffff;
  -webkit-text-fill-color: transparent;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  z-index: -1;
  user-select: none;
  display:none;
}

.my-photo {
  width: 10rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
}

a {
  text-decoration: none;
  color: inherit;
}

.sosmed i {
  font-size: 1.5rem;
  color: #8787a3;
  z-index:-1000;
}

.sosmed i:hover {
  color: white;
}

.sosmed a:not(:last-child) {
  margin-right: 1rem;
}

ul {
  width: 80%;
  max-width: 40rem;
}

ul li {
  list-style: none;
}

ul.links li:not(:last-child) {
  margin-bottom: 1rem;
}

.links {
  margin-top: 1rem;
}

.link-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d2d56;
  gap: 1rem;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 8px 10px 0 #0f0f25;
  border: 2px solid #2d2d56;
}

.link-card:hover {
  border: 2px solid white;
}

.links .link-icon {
  background-image: linear-gradient(to top, purple, cyan);
  padding: 0.5rem;
  border-radius: 10px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links .link-icon i {
  color: white;
}

.links .link-text {
  text-align: center;
}

.link-action {
  color: #8787a3;
  cursor: pointer;
  padding: 10px;
}

.copyright {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: white;
  font-size: 0.75rem;
  z-index:1000;
}

.copyright img {
  width: 2rem;
  opacity: 0.4;
  z-index:1000;

}
.copyright>p {
  margin-top:1rem;
}

#toast {
  width: max-content;
  position: fixed;
  top: 0;
}

.toast-container {
  background-color: white;
  color: #0f0f25;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  animation: muncul 300ms ease-in-out;
}

.toast-gone {
  animation: hilang 1s ease-in-out 1s;
}
/* Media Mobile */
@media screen and (max-width: 767px) {
  .bg2-text-animation {
    font-size: 5rem; /* Sesuaikan ukuran teks untuk smartphone */
    top:5.3rem;
    display:block;
  }
  .bg-text-animation {
    display:none;
  }
}
@keyframes muncul {
  from {
    opacity: 0;
    transform: translateY(-4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hilang {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
